.wrapper {
    display: flex;
    align-items: stretch;
}
/* Change leaflet css */
.leaflet-container {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 40vh;
}
.map-form{
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}
.small-elements{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}