.scroll {
    max-height: 200px;
    overflow-y: auto;
}

#wrapper {
    width: 60%;
    margin: 0 auto;
    word-wrap:break-word;
}

.message-container {
    margin: auto;
}

.user-message {
    border-top: 1px;
    border-top-style: solid;
    margin-bottom: 4px;
}

.message {
    word-wrap:break-word;
}