.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Nav-bar {
  background-color: #282c34;
  color: white;
  /* min-height: auto; */
  padding-bottom: 4px;
  
}

.Nav-bar-header {
  color: white;
  font-size: calc(10px + 2vmin);
}

.refresh-button {
  border: 0
}

.right-header {
  font-size: calc(5px + 1vmin);
}

.right-header-button {
  max-width: 5vw;
  max-height:5vw;
}